@import url(http://fonts.googleapis.com/css?family=Lato);

* {
	font-family: 'Lato';
}

/** {
	border: 1px solid #bbb;
}
*/
.header{
	height: 40px;
}

#nameLink{
	margin-left: 10px;
	font-family: Lato;
	font-size: 25px;
	padding: 0;
	margin-top: 4px;
	float: left;
}

.rightOptions{
	float: right;
	font-family: Lato;
	font-size: 15px;
	margin-top: 12px;
}

.rightOptionTabs{
	padding-left: 10px;
	padding-right: 10px;
}

a.optionLinks{
	text-decoration: none;
	color: #333;
}

.content img {
	height: 220px;
}

.landing .content {
	padding-top: 2%;
	text-align: center;
	color: #42454e;
	font-size: 1.5em; 
}

.landing .content h1 {
	 margin: 0 0 5px; 
}

.landing .content img {
	padding-top: 20px;
	padding-bottom: 50px; 
}

.landing .content p {
	margin: 0; 
}

.landing .content p button{
	margin-top: 20px;
	margin-bottom: 60px; 
}

.header {
	background-color: rgba(105, 87, 55, 0.05);
}

#containerFirst {
  background: #fcfbd9;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #fcfbd9 0%, #ffe7a9 100%, #fcfbdd 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fcfbd9), color-stop(100%, #ffe7a9), color-stop(100%, #fcfbdd));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #fcfbd9 0%, #ffe7a9 100%, #fcfbdd 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #fcfbd9 0%, #ffe7a9 100%, #fcfbdd 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #fcfbd9 0%, #ffe7a9 100%, #fcfbdd 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #fcfbd9 0%, #ffe7a9 100%, #fcfbdd 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfbd9', endColorstr='#fcfbdd',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  background-size: cover; }

#inputInjectHeader {
	background-color: #1ba1e2;
	height: 45px;
	text-align: left;
}

#textareaHeader {
	background-color: #1ba1e2;
	height: 45px;
	text-align: left;
}

#editableHeader {
	background-color: #1ba1e2;
	height: 45px;
	text-align: left;
}

#othersHeader {
	background-color: #1ba1e2;
	height: 45px;
	text-align: left;
}

#inputInjectHeader h1 {
	    margin: 0;
    color: white;
    padding-top: 3px;
    padding-left: 10px;
}

#textareaHeader h1 {
	    margin: 0;
    color: white;
    padding-top: 3px;
    padding-left: 10px;
}

#editableHeader h1 {
	    margin: 0;
    color: white;
    padding-top: 3px;
    padding-left: 10px;
}

#othersHeader h1 {
	    margin: 0;
    color: white;
    padding-top: 3px;
    padding-left: 10px;
}

.showcase {
	background-color: #fff;
	position: relative;
	height: 600px;
}

#showcaseMain {
	margin-left: 400px;
	position: absolute;
	width: 600px;
	top:0;
}

.inputspan {
	margin-left: auto;
	margin-right: auto;

}

#showcaseInputElement{
	margin-top: 25px;
	font-size: 18px;
}


#showcaseInputSubmit{
	height: 50px;
}

#showcaseInputElement input{
	width: 300px;
	height: 50px;
}

#showcaseOutputElement {
	margin-left: 50px;
	font-family: 'Lato';
	font-size: 20px;
	border: 1px solid;
	margin-top: 50px;
	height: 100px;
	border-color: #bbb;
	padding-left: 10px;
	padding-top: 5px;
	width: 80%;
}

.rightimage {
	position: absolute;
	right: 0;
}

#textareaContent {
	position: absolute;
	margin-right: 300px;
	padding-right: 100px;
	margin-left: 50px;
	padding-left: 50px;
	margin-top: 25px;
	padding-top: 25px;
}

#inputTextArea {
	height: 200px;
	width: 600px;
	padding: 10px;
	font-size: 20px;
	border: 2px solid #888;
}

#contentBelowTextArea {
	margin-top: 10px;
	height: 35px;
	line-height: 35px;
	text-align: center;
}

#contentBelowTextArea span{
	font-size: 20px;
	margin: auto auto;
}

#showcaseTextSubmit {
	float: right;
	width: 100px;
}

#postedTextContent {
	height: 200px;
	margin-top: 20px;
	line-height: 50px;
	padding: 15px;
	font-size: 20px;
	color: #999;
	border: 1px dotted #bbb;
}

#editSectionContainer {
	margin-left: 400px;
	position: absolute;
	top: 0;
}

#editContentContainer {
	height: 200px;	
	margin-top: 20px;
	line-height: 50px;
	padding: 15px;
	font-size: 20px;
	color: #999;
	border: 1px dotted #bbb;
	margin-left: 50px;
	min-width: 600px;
}

/* Snippets from PureCSS */
        .button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        	border-radius: 4px;
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }

/*Scrollbar snippet*/

::-webkit-scrollbar {
	width:8px;
	background:transparent;
}

::-webkit-scrollbar-track {
	background:#FFF;
	width:0px;
	display:table-cell;
	vertical-align:middle;
}

::-webkit-scrollbar-thumb {
	background:#ccc;
	color:#FFF;
}