@import url(http://fonts.googleapis.com/css?family=Lato);

/** {
	border: 1px solid #bbb;
}
*/
.header{
	height: 40px;
}

#nameLink{
	margin-left: 10px;
	font-family: Lato;
	font-size: 25px;
	padding: 0;
	margin-top: 4px;
	float: left;
}

.rightOptions{
	float: right;
	font-family: Lato;
	font-size: 15px;
	margin-top: 12px;
}

.rightOptionTabs{
	padding-left: 10px;
	padding-right: 10px;
}

a.optionLinks{
	text-decoration: none;
	color: #333;
}

.content img {
	height: 220px;
}

.landing .content {
	padding-top: 2%;
	text-align: center;
	color: #42454e;
	font-size: 1.5em; 
}

.landing .content h1 {
	 margin: 0 0 5px; 
}

.landing .content img {
	padding-top: 20px;
	padding-bottom: 50px; 
}

.landing .content p {
	margin: 0; 
}

.landing .content p button{
	margin-top: 20px;
	margin-bottom: 20px; 
}

.header {
	background-color: rgba(105, 87, 55, 0.05);
}

#containerFirst {
  background: #fcfbd9;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #fcfbd9 0%, #ffe7a9 100%, #fcfbdd 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fcfbd9), color-stop(100%, #ffe7a9), color-stop(100%, #fcfbdd));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #fcfbd9 0%, #ffe7a9 100%, #fcfbdd 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #fcfbd9 0%, #ffe7a9 100%, #fcfbdd 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #fcfbd9 0%, #ffe7a9 100%, #fcfbdd 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #fcfbd9 0%, #ffe7a9 100%, #fcfbdd 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfbd9', endColorstr='#fcfbdd',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  background-size: cover; }


/* Snippets from PureCSS */
        .button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }


